.ui.container(ng-controller='debugController')
  .ui.dividing.header Debugging Interface
  .ui.label Session: 
    span(ng-bind='session' style='color:green' select-on-click) 
  .ui.label Code: 
    span(style='color:brown' onmouseover='this.focus()' select-on-click) pastebin run imn7adeb rdebug

  .ui.segments()
    .ui.inverted.segment.debug-head( style='' )
      button.ui.inverted.basic.button.mini.compact.teal( ng-click="cleanMsgs()" ) Clean
      button.ui.inverted.basic.button.mini.compact( ng-click='toggleAutoscroll()' )
          i.toggle.off.icon( ng-show='!autoscroll' )
          i.toggle.on.icon( ng-show='autoscroll' )
          | Scroll
    .ui.inverted.segment( style='max-height: calc(100vh - 240px); overflow: auto' ng-show='messages.length > 0' )
      .ui.inverted.relaxed.divided.list( cc-msg-list='messages' active='autoscroll' )
    .ui.inverted.segment( ng-show='messages.length == 0' )
      p Empty :(