extends ./layout.jade

block head_content
  meta(name='description' content='Simple and fast application server for Computercraft.')
  each template in templates
    script(id=template.id type='text/ng-template') !{template.content}

block title
  title CC Application Server

block content
  .ui.pointing.menu
    .ui.text.menu
      .item(ui-sref='main')
        .ui.medium.header(style='padding-right: 10px; padding-left: 10px') CC Application Server
    each btn in [ ['Debugging Interface', 'debug'], ['Communicator (WIP)', 'com'] ]
      a.item(ui-sref=btn[1] ui-sref-active='active') !{btn[0]}

  ui-view