html(lang='en' ng-app='app')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1')

    block head_content

    //- Styles
    link(href='css/vendor.css' rel='stylesheet')
    //- Styles app
    link(href='css/app.css' rel='stylesheet')

    block title
      title Kiwigaming App Server

  body
    block content

  //- Scripts Vendor
  script(src='js/vendor.js', type='text/javascript')
  //- Scripts App
  script(src='js/app.js', type='text/javascript')
